body{               // this styles the navbar so that there's no additional spacing anywhere
  margin: 0;
  padding: 0;
}

  
.header-container{
  height: 15vh;
  background-color: black;
  border:1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
}

.logo{
  height:100%;
  width: 175px;
  border:1px solid red;
}

.logo img{
  height: 100%;
  width: 100%;
}

.menu{
  height: 100%;
  width: 300px;
  border:1px solid blue;
  display:flex;
  flex-direction: row;
}

.list-item{
  font-family: 'Lato', sans-serif;
  font-size:calc(19px);
  color: white;
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
  border:2px solid green;
}
